
<main class="container-fluid">
  <div class="row1">
    <div id="groupInfoFlex">
      {{group.name}}: {{group.subject}} {{group.date_time}}
    </div>
    <div>
      <button class="btn btn-outline-dark btn-rounded" id="launchVideo">Start a Chat</button>
    </div>
  </div>

  <div class="row2">
    <div class="card col-4 groupUser">
      <div class="card-body">
        <h5 class="card-title attendees">Attendees</h5>
        {{!-- we will need to dynamically serve in the GroupUsers here, making a new <p> tage for each --}}

          {{#each group.users_groups as |user|}}
          {{!-- need to only pull the first study group --}}
        <p class="card-text">{{user.first_name}} {{user.last_name}}</p>
        {{!-- <p class="card-text">Test User 2</p>
        <p class="card-text">Test User 3</p> --}}
        {{/each}}
      </div>
    </div>

    <div class="card col-7 savedResources">
      <div class="card-body">
        <div class="resourceTitle">
          <div id="resourceTitleFlex">
            <h5 class="card-title">Resources</h5>
          </div>
          <div id="addBtnFlex">
            <button type="button" class="btn btn-outline-dark btn-rounded" id="addResourceLaunch"
              data-mdb-toggle="modal" data-mdb-target="#staticBackdrop">Add a Resource</button>
          </div>
        </div>
        {{!-- we will need to dynamically serve in the resources here, making a new <p> tage for each --}}
          {{!-- would be nice to somehow make a line between each resource being served --}}

      </div>
      <div>
        {{#each bruh as |resource|}}
        <p class="card-text-r top"><span class="bold">Description:</span> {{resource.description}}</p>
        <p class="card-text-r"><span class="bold">url:</span> <a href="{{resource.url}}">{{resource.url}}</a></p>
        {{!-- do we want to remove this? adding naming could make it really hard with the database stuff, will need to
        look at this tonight --}}
        <p class="card-text-r last"><span class="bold">Submitted By:</span> {{resource.user.first_name}}
          {{resource.user.last_name}}</p>
        <hr />
        {{/each}}
      </div>
    </div>
    {{!--row end div below --}}
  </div>



  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add a Resource</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="modalTag">Description</p>
          <div class="form-outline">
            <input type="textarea" id="form12" class="form-control" />
            <label class="form-label" for="form12">Enter description here</label>
          </div>
          <p class="modalTag">url</p>
          <div class="form-outline">
            <input type="url" id="form12" class="form-control" />
            <label class="form-label" for="form12">Enter url here</label>
          </div>
          {{!-- <p class="modalTag">Submitted By</p>
          <div class="form-outline">
            <input type="text" id="form12" class="form-control" />
            <label class="form-label" for="form12">Enter name here</label>
          </div> --}}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="addResource">Add</button>
        </div>
      </div>
    </div>
  </div>
  </div>

</main>